* {
    font-family: 'Roboto', 'IBM Plex Sans', sans-serif;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

.header {
    padding: 1rem;
    margin: 0 auto 0;
    width: 900px;
    background-color: #41308f;
    display: grid;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.5rem;
    color: whitesmoke;
}

nav {
    padding: 1rem;
    margin: 0 auto 0;
    width: 900px;
    background-color: rgb(49, 47, 47);
    font-family: 'Roboto';
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    text-decoration: overline;
}

main {
    display: grid;
    margin: .1rem auto 0;
    width: 900px;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
}

#about {
    background-color: #41308f;
    display: grid;
    border-radius: 1rem;
    padding: .5rem;
    text-align: center;
    color: whitesmoke;
    font-size: 1rem;
}

#resources {
    background-color: #41308f;
    display: grid;
    border-radius: 1rem;
    padding: .5rem;
    text-align: center;
    color: whitesmoke;
    font-size: 1rem;
}

.my-about {
    padding: .6rem;
    margin: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.about p {
    font-family: 'Roboto';
    font-weight: 450;
}

h3 {
    display: grid;
    width: 400px;
    text-align: center;
    border-bottom: 1px solid rgb(214, 209, 209);
    margin: 0 auto 0;
}

.my-country {
    padding: .6rem;
    display: grid;
    grid-template-columns: .5fr 2fr .5fr;
}

figcaption {
    font-style: inherit;
    padding: 1rem;
    font-family: sans-serif;
    font-weight: 500;
}

.my-country p {
    font-style: oblique;
    font-weight: 450;
}

.about {
    border: 1px solid rgb(194, 190, 190);
    padding: .1rem;
    margin-top: 0;
    border-top: none;
    border-radius: 1rem;
}

.resources {
    padding: 1rem;
    border: 1px solid rgb(202, 198, 198);
    border-radius: 1rem;
    margin-top: 0;
    border-top: none;
}

#web-resources{
    display: grid;
    grid-template-rows: .65fr 1fr .65fr;
}

ul {
    display: grid;
    align-content: center;
}

li {
    padding: .2rem;
    color: rgb(123, 123, 155);
}

li a {
    color: #41308f;
}

footer {
    margin: 1rem auto 0;
    width: 59rem;
    background-color: #41308f;
    height: 85px;
    display: grid;
    justify-content: center;
    padding: 0;
}

footer p {
    color: whitesmoke;
}


