* {
    font-family: 'Roboto', 'IBM Plex Sans', sans-serif;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

.header {
    padding: 1rem;
   
    background-color: #41308f;
    display: grid;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.5rem;
    color: whitesmoke;
}

nav {
    padding: 1rem;

    background-color: rgb(49, 47, 47);
    font-family: 'Roboto';
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

nav a {
    background-color: wheat;
    color: black;
    padding: .2rem;
    border-radius: .5rem;
}

nav a:hover {
    /* text-decoration: overline; this is for text decoration too */
    border: .5px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: .5rem;
    padding: .2rem;
}

main {
    display: grid;
   
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    gap: 1px;
}

#about {
    background-color: #41308f;
    display: grid;
    padding: .5rem;
    text-align: center;
    color: whitesmoke;
    font-size: 1rem;
    border-radius: 1rem;
}

#resources {
    background-color: #41308f;
    display: grid;
    border-radius: 1rem;
    padding: .5rem;
    text-align: center;
    color: whitesmoke;
    font-size: 1rem;
}

.my-about {
    padding: .6rem;
    display: grid;
    grid-template-columns: 2fr .9fr;
    margin: 0;
}

.my-about img {
    border-radius: .5rem;
    border: 2px solid wheat;
    margin-left: .5rem;
}

.about p {
    font-weight: 500;
}

#paragraph2 {
    font-family: 'san-serif';
    font-weight: 550;
}

h3 {
    display: grid;
    width: 400px;
    text-align: center;
    border-bottom: 1px solid rgb(214, 209, 209);
    margin: 0 auto 0;
}

.my-country {
    padding: .6rem;
    display: grid;
    grid-template-columns: 1fr 2fr .5fr;
}

.my-country img {
    border-radius: 1rem;
    border: 4px solid white;
}

figcaption {
    font-style: inherit;
    padding: 1rem;
    font-family: sans-serif;
    font-weight: 500;
}

.flag {
    display: grid;
    text-align: center;
}

.my-country p {
    font-style: oblique;
    font-weight: 450;
}

.about {
    background-color: whitesmoke;
    padding: .8rem;
    margin-top: 0;
    border-radius: 1rem;
    border: 3px solid white;
}

.resources {
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    margin-top: 0;
    border-left: 4px solid white;
}

#web-resources{
    display: grid;
    grid-template-rows: .5fr .9fr .255fr;
    padding: 1.3rem;
    border: 4px solid white;
}

#web-resources:hover {
    
    background-color: antiquewhite;
}

.about:hover {
    background-color: black;
    color: whitesmoke;
}

#BYU-Idaho {
    font-size: .9rem;
    font-family: 'Roboto';
    font-weight: 450;
}

.figure img {
    border-radius: 1rem;
    border: 4px solid white;
}

ul {
    display: grid;
    align-content: center;
}

li {
    padding: .2rem;
    color: rgb(123, 123, 155);
    /* list-style-type: none; for removing the list bullet if you want */
}

li a {
    color: rgb(123, 123, 155)f;
    font-weight: 600;
    text-decoration: none; 
}

li a:hover {
    color: blue;
    background-color: rgb(221, 212, 197);
    padding: .2rem;
    border-radius: .2rem;
}

footer {
   
    background-color: #41308f;
    height: 86px;
    display: grid;
    justify-content: center;
    padding: 0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

footer p {
    color: whitesmoke;
}

#mode {
    font-style: italic;
    font-weight: 350;
    color: gainsboro;
    font: bold;
}