:root {
    --color: rgb(30, 30, 43);
    --color2: grey;
    --background-color: black;
    --design-color: whitesmoke;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 1.5fr .3fr;
    margin: 0 auto;
    background-color: var(--color);
    color: var(--design-color);
}

.header {
    padding: 1rem;
    font-weight: 700;
    font-size: 1.3rem;
}

.hamburger {
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
}

.navigation {
    font-size: 1.5rem;
    border: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: var(--background-color);
    width: 0;
}

/* #menu::after {
    content: '\2630';
} */

/* #menu.open::after { 
    content: '❎';
} This commented field is for the hamburger.*/ 

.navigation li {
    padding: 1rem;
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: var(--design-color);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
}

.navigation.open {
    margin-top: 1.5rem;
    display: flex;
    width: 19rem;
    padding: 1rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

.navigation a:hover {
    background-color: var(--design-color);
    color: var(--background-color);
    padding: 1rem;
    border-radius: .1rem;
}

.active::before {
    content: "📖";
}

header, main {
   margin: 0 auto 0; 
   max-width: 640px;
}

footer{
    margin: 1rem auto;
    max-width: 640px;
}

.home {
   text-align: center;
   margin: .5rem;
   padding: 1rem;
   font-weight: 600;
   font-size: 1.5rem;
}

#temple-container {
    display: grid;
}


.temple-card {
    border: 1px solid var(--design-color);
    place-items: center;
    max-width: 640px;
    background-color: var(--design-color);
    border-radius: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 15px var(--color2);
    margin-top: 1rem;
}

.temple-card img {
    width: 91%;
    padding: 1rem;
    height: auto;
    border-radius: 1rem;
    animation: fade 4s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.temple-card p {
    font-style: italic;
    text-align: center;
    color: var(--background-color);
    font-weight: 600;
    font-size: .9rem;
    padding: .2rem;
}


footer {
    background-color: var(--color);
    color: var(--design-color);
    text-align: center;
    height: 70px;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin-bottom: 0;
}

footer p {
    font-weight: 550;
}

