@media (max-width: 500px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .hamburger {
        display: block;
    }

    .navigation {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        gap: .5rem;
    }

    .navigation.open {
        display: flex;
    }

    .navbar img {
        height: 40px;
    }

    .newsletter-subscription p {
        display: grid;
        justify-content: center;
    }
}